# Binaries from the build
**/bin
**/obj


# Config file
appsettings.json


# Python
/venv
**/__pycache__


# CSV files
**/CSVStocks


# Image files
**/Images


# Output files
**/Output


# JSON files
**/JSONFiles